<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{pageTitle}}</title>
<link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
<header>
    <nav>
    <a href="/home">Home</a>
    <a href="/dashboard">Dashboard</a>
    {{#if logged_in}}
        <a href="/logout" id="logoutButton">Log Out</a>
    {{else}}
        <a href="/login">Login</a>
    {{/if}}
    </nav>
    <h1>{{pageTitle}}</h1>
</header>

<main class="container container-fluid mt-5">
    <section>
        <h3>Blog Posts</h2>

        {{#each latestPosts}}
            <article>
                <h2>{{this.title}}</h2>
                <p>{{this.content}}</p>
                <p>Author: {{this.author}}</p>
                <p>Date: {{this.date}}</p>
            </article>
        {{/each}}
    </section>
</main>

<footer>

</footer>

    <script src="/public/js/logout.js"></script>
</body>
</html>